.profile{
    display: flex;
    gap: .8rem;
    transition: all .3s;
}
.init{
    background-color: #A492FF;
    width: 1.5rem;
    border-radius: 10%;
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    margin-bottom: 3rem;
}
.login{
    color: #EFEFEF;
    font-weight: bold;
    font-size: 16px;
    margin-right: 1.2rem;
}
.login a{
    font-weight: 400;
    font-size: 14px;
    padding: 0;
    color: #C0BFBD;
}
.profile img{
    margin-top: .7rem;
}
#on{
    position:sticky;
}