.cut input[type="text"]{
    background-color: #424444;
    border: none;
    height: 2.5rem;
    margin-left: -1rem;
    padding-left:3.2rem;
    color: #C0BFBD;
    border-radius: .5rem;
    width: 0rem;
}
.cut{
    width: 3.4rem;
    transition: .5s;
}
.cut li div{
    display: none;
}
.cut .profile{
    gap:0;
}
.cut .login{
    display: none;
}
.cut .profile img{
    margin-top: .7rem;
    margin-left: .3rem;
}
.cut .switch{
    display: block;
    margin: .5rem 0 0 -1.1rem;
    width: 2rem;
}
.cut .bottom img{
    display: none;
}
.light_theme input[type="text"]{
    background-color: #F5F5F5;
}
