body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
main{
    background-color: #242625;
    width: 15rem;
    height: 45rem;
    padding: 1rem;
    position: absolute;
    right: .8rem;
    transition:cubic-bezier(0.175, 0.85, 0.32, 1) .7s;
}
.nav{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    gap: 2rem;
    padding-left: 1rem;
}
li img{
    padding-right: 1.7rem;
}
input[type="text"]{
    background-color: #424444;
    border: none;
    height: 2.5rem;
    margin-left: -.3rem;
    padding-left:3.2rem;
    color: #C0BFBD;
    border-radius: .5rem;
    width: 10.5rem;
    transition: all .5s;
}

.search{
    position: absolute;
}
input::placeholder{
    color: #C0BFBD;
    font-weight: semiBold;
    font-size: 16px;
}
li a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #C0BFBD;
    font-weight: semiBold;
    font-size: 16px;
    padding-top: 0rem;
    margin-top: 0rem;
    transition: ease-out .4s;
}
footer{
    margin-top: 10rem;
}
.bottom{
    display: flex;
    flex-wrap: wrap;
}
.bottom a div{
    margin-top: 1.2rem;
}
.bottom img{
    width: 1.5rem;
    padding-top: .5rem;   
}
.switch{
    padding-left: .2rem;
    margin: 1rem 0 0 1.5rem;
}
input[type="checkbox"]{
    width: 2.8rem;
    background-color: #424444;
    background-image: url(../img/sun.svg);
    background-repeat: no-repeat;
    background-position-x: -2rem;
    background-position-y: 1.4rem;
    height: 1.5rem;
    border-radius: 8rem;
    -webkit-appearance: none;
    outline: none;
    transition: .5s;
}
input:checked[type="checkbox"]{
    background-image: url(../img/moon.svg);
    background-repeat: no-repeat;
    background-position-x: 1.8rem;
    background-position-y: .4rem;   
}
.hide{
    display: none;
}
.dark_theme {
    background-color: #242625;
    color: #C0BFBD;
}
