.light_theme{
    transition: 1s;
    background-color: #EFEFEF;
}
.light_theme a{
    color: #7C7C7A;
}
.light_theme input[type="text"]{
    color: #7C7C7A
}
.light_theme input::placeholder{
    color: #7C7C7A;
    background-color: #F5F5F5;
    transition: 4s;
 }
 
 .light_theme .init{
     background-color: #4A49CB;
 }
 .light_theme .login{
     color:#222133
 }
 .light_theme input[type="checkbox"]{
    background-color: #FFFFFF;
    width: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.123);
    background-position-x: .3rem;
    background-position-y: .35rem;
 }
 
